
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family: roboto;
  font-weight: 400;
}

.fontb{
  font-family: roboto;
  font-weight: 700;
}

.inline{
  display: inline-block !important;
}

.11{
  margin-top: 30px !important;
}


.azul{
   color: #1868cc;
}

.t2{
  font-size: 2em;
}



.logoymenu  {
margin:0 auto 0 auto; width:900px;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
 }
 
.span2 {
	margin-left:50px;
}
.tabsindex {
	text-align:;
	font-size:0.9em;
	color: #7b7b7b;
  margin-top: 20px;
}
/* HEAD MENU PAGINA SECUNTARIOA */

.top-menu  {
      background-color:white;
      padding:5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 #EEEEEE inset; /*
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
              */
}



.body-bg {
	background-image:url('../img/home-bg.jpg');
	background-repeat:no-repeat;
}
 /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
          float:left;

      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }


.winner {
  position: fixed;
  z-index: 100;

}
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
        /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 400px;
      }
      .carousel img {
        width: auto;
        height: 350px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }

    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      } 
      .carousel .container {

      }
      .carousel .item {
        height: 400px;
      }
      .carousel img {

        height: 350px;
      }
      .carousel-caption {
        width: 50%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      } 

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    } */
    */
    </style>

