/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	nav{
		position: absolute;
		z-index: 10;
		}
	nav .logo{
		float: left;
		width: 25%
	}
.columna .titulo1{
	font-size: 1em;
}
	.columna{
			width: 20%;
			display: inline-block;
			padding-left: 2em;
			padding-right: 2em;
	}

	.columna2{
			width: 15%;
			display: inline-block;
			padding-left: 2em;
			padding-right: 2em;
	}

	.formcolumna{
			width: 30%;
			display: inline-block;
			padding-left: 2em;
			padding-right: 2em;
	}
.owl-carousel .item {
height: 400px;


}
.primerContenido {
	padding-top: 8em;
}

.p1, .p2{
 	font-size: 4em;
 	text-align: center;
 	line-height: 1.2em;
 	color: white;
 	text-shadow: 0px 0px 3px black;

 }

 .p1{
 	padding-top: 2.8em;
 	font-weight: 100;

 }

/*MENU*/

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.columna .titulo1{
	font-size: 1.5em;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.owl-carousel .item {
	height: 500px;


}

.p1{
 	padding-top: 4em;
 	font-weight: 100;

 }


}